<p id="notice"><%= notice %></p>

<p>
  <strong>Organizer name:</strong>
  <%= @organizer.organizer_name %>
</p>

<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
